@import 'base/base';

body {
  position: relative;
}

.page-container {
  background: green;
  padding: 0;
  position: relative;

  .sidebar {
    background: red;
    position: relative;
    z-index: 2;
    text-align: right;
    width: 200px;
    // margin-left: calc(100% - 200px);

    .sidebar-list {
      padding: 0;
      list-style: none;
      margin-bottom: 0;

      @media (max-width: $screen-sm-max) {
        padding-right: 8px;
      }

      @media (min-width: $screen-md-min) {
        padding-right: 13px;
      }
    }
  }

  .page-content {
    position: relative;
    z-index: 1;

    .contact-section, 
    .biography-section,
    .experience-section,
    .photoframe-section,
    .portfolio-section,
    .trackrecord-section {
      height: 500px;
      background: yellow;
    }

    .biography-section {
      
    }

    .contact-section {

    }

    .experience-section {

    }

    .photoframe-section {

    }

    .portfolio-section {

    }

    .trackrecord-section {

    }
  }
}