@import 'base/base';

body {
  position: relative;
}

.page-container {
  background: green;
  padding: 0;
  position: relative;

  .sidebar {
    background: rgba(0,0,0,0.4);
    padding: 10px;
    position: fixed;
    height: 100%;
    z-index: 2;
    text-align: right;
    width: 150px;
    top: 0;
    right: 0;

    .sidebar-list {
      padding: 0;
      list-style: none;
      margin-bottom: 0;

      a {
        outline: 0;
        text-decoration: none;
      }

      li {
        margin-bottom: 10px;
        cursor: pointer;
        color: #000;

        &.active {
          color: #FFF;
        }

        .fa {
          margin-left: 5px;
        }
      }
    }
  }

  .page-content {
    position: relative;
    z-index: 1;

    .contact-section, 
    .biography-section,
    .experience-section,
    .intro-section,
    .portfolio-section,
    .trackrecord-section {
      height: 500px;
      background: yellow;
      padding: 10px 160px;
    }

    .biography-section {
      
    }

    .contact-section {

    }

    .experience-section {

    }

    .intro-section {

    }

    .portfolio-section {

    }

    .trackrecord-section {

    }
  }
}