/* Text Align */

.text-align-center {
  text-align: center;
}

section.success a, section.success a:hover, section.success a:focus, section.success a:active, section.success a.active {
	color: #BBB;
}

header {
	background-image: url('../img/meteor_shower.jpg');
	background-size: cover;
}

hr.intro {
	width: 600px;
	border: #fff dotted 1px;
}

hr.content {
	width: 600px;
	border: #fff dotted 1px;
}

.text-white {
	color: #fff;
}

#portfolio {
	background-image: url('../img/snow_mountain.jpg');
	background-size: cover;
}

#about {
	background-image: url('../img/portfoliobg.jpg');
	background-size: cover;	
}

/* Screen Compatibility */

@media (max-width: 767px) {
	hr.intro {
		width: 300px;
	}

hr.content {
		width: 300px;
	}	
}

@media (max-width: 340px) {
	hr.intro {
		width: 250px;
	}

hr.content {
		width: 250px;
	}	
}

@media (max-width: 269px) {
	hr.intro {
		width: 220px;
	}

hr.content {
		width: 220px;
	}	
}

@media (max-width: 238px) {
	hr.intro {
		width: 180px;
	}

hr.content {
		width: 180px;
	}	
}